<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <img src="<%= "/user_images/#{user.image_name}" %>">
        </div>

        <div class="user-right">
          <% user_color = "black" %>
          <% if user.rate >= 2800    %>   
          <%   user_color = "red" %>
          <% elsif user.rate >= 2400 %>
          <%   user_color = "orange" %>
          <% elsif user.rate >= 2000 %>
          <%   user_color = "yellow" %>
          <% elsif user.rate >= 1600 %>
          <%   user_color = "blue" %>
          <% elsif user.rate >= 1200 %>
          <%   user_color = "cyan" %>
          <% elsif user.rate >= 800 %>
          <%   user_color = "green" %>
          <% elsif user.rate >= 400 %>
          <%   user_color = "brown" %>
          <% elsif user.rate >= 0 %>
          <%   user_color = "gray" %>
          <% else %>
          <%   user_color = "black" %>
          <% end %>
          <%= link_to(user.name, "/users/#{user.id}", :style => "color:#{user_color};") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
