<header>
  <div class="header-logo">
    <a href="/">競プロBBS</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">競プロBBSとは</a>
    </li>
  </ul>
</header>

<%
    posts = [
      "このページは現在制作中です",
      "進撃の巨人"
    ]
%>


<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %> 
      <div class = "posts-index-item">
        <%= post.content %>
      </div>
    <% end %>
  </div>
</div>
